//Color del encabezado de publicidad
$colorWhite:white;
$colorGray: 1px solid gray;
$colorRed: red;
$color-encab-gray: #eee;
$font-encabezado: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-tamanio: 3em;
$posicion: right;
$color: red;
$color-icon-soc: blue;
$pad-top: 20px;
$pad-left: 20px;
$rojo-republica: #BA1414;
$gris-encab: #7D7D7D;

//Columnistas
$gray: #768596;
$border: #E2E2E2;
$fondo: #E2E6E9;
$bolder:bolder;

//Columnistas-parte2

$fondo-men-columna: #BA1414;
$color-text-menu: white;
$color-text-columnistas: #768296;

//footer

$background-footer : #E2E4E6;
$font-size-footer: 16px;
$padding-footer: 100%;
$color-footer : #333338;