@import "_variables";
@import "_mixin";

*{
	margin:0;
	padding: 0;
	box-sizing: border-box; 
}

body{
	margin: 0;
}

.encabezado-inicial{
	background-color: $color-encab-gray;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

.text-suscr{
	@include posicion(right);
}

.enlaces-encabezado {
	@include letra-size-enc(0.7em);
	text-decoration: none;
    display: inline-block;
    font-weight: bold;
    padding-top: 15px;
    margin: auto 0px;
    list-style: none;
}

a {
    color: rgb(125, 125, 125);
    text-decoration: none;
    padding-right: 15px;
}

.btn-suscripcion{
	@include btn-rojo(#DD4A4A);
}
.btn-suscripcion:hover{
	color:white;
	    text-decoration: none;
}

.icon-face{
	@include icon-social-enc( blue, 5px, 4px);
}

.icon-twit{
	@include icon-social-enc( #4099FF, 5px, 4px);
}

.icon-goog{
	@include icon-social-enc( red, 5px, 4px);
}

.icon-mail{
	@include icon-social-enc( yellow, 5px, 4px);
}

.icon-rss{
	@include icon-social-enc( orange, 5px, 4px);
}

.icons-redes{
	    display: inline-block;
	        font-size: 14px;
}

.form-buscar{
	background-color: #E4E7EA;
	    display: inline-block;
}
.inp-buscar{
	background-color: #E4E7EA;
    width: 40px;
    font-size: 10px;
    border: none;
}
.btn-buscar{
	display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 4px; 	 
    color: #848484;
    background-color: #E4E7EA;
}

.logo-republica{
	padding-top: 11%;
}

.miniatura-columna-diaria p {
    padding-top: 9%;
    font-size: 13px;
}
.titulo-miniatura {
    color: #FFFFFF;
    background-color: $rojo-republica;
    font-size: 16px;
    height: 19px;
    width: 30%;
    margin: -4% 35%;
}

.miniatura-columna-diaria {
    @include miniatura;
    border-top: 1px solid $gris-encab;
    border-left: 1px solid $gris-encab;
    border-right: 1px solid $gris-encab;
    border-bottom: 3px solid $rojo-republica;

}

.miniatura-editorial {
	@include miniatura;
    border: 1px solid $gris-encab;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}
.editorial-columna {
    position: absolute;
    top: 5%;
}

.seccion-editorial {
    background-color: #111417;
    position: relative;
    margin-top: 28px;
}
.tit-cdr-1{
	margin: 10px 0;
}

.miniatura-editorial dfn {
    font-size: 14px;
}

dfn {
    font-style: italic;
}

.autor-columna {
    position: absolute;
    top: -8%;
    left: 87%;
}