* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0; }

.encabezado-inicial {
  background-color: #eee; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-suscr {
  text-align: right; }

.enlaces-encabezado {
  font-family: "Oswald:400,700" , sans-serif;
  font-size: 0.7em;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding-top: 15px;
  margin: auto 0px;
  list-style: none; }

a {
  color: #7d7d7d;
  text-decoration: none;
  padding-right: 15px; }

.btn-suscripcion {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 2px 6px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #ffffff;
  background-color: #DD4A4A;
  text-decoration: none;
  font-size: 0.6em; }

.btn-suscripcion:hover {
  color: white;
  text-decoration: none; }

.icon-face {
  color: blue;
  padding: 5px 4px; }

.icon-twit {
  color: #4099FF;
  padding: 5px 4px; }

.icon-goog {
  color: red;
  padding: 5px 4px; }

.icon-mail {
  color: yellow;
  padding: 5px 4px; }

.icon-rss {
  color: orange;
  padding: 5px 4px; }

.icons-redes {
  display: inline-block;
  font-size: 14px; }

.form-buscar {
  background-color: #E4E7EA;
  display: inline-block; }

.inp-buscar {
  background-color: #E4E7EA;
  width: 40px;
  font-size: 10px;
  border: none; }

.btn-buscar {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
  color: #848484;
  background-color: #E4E7EA; }

.logo-republica {
  padding-top: 11%; }

.miniatura-columna-diaria p {
  padding-top: 9%;
  font-size: 13px; }

.titulo-miniatura {
  color: #FFFFFF;
  background-color: #BA1414;
  font-size: 16px;
  height: 19px;
  width: 30%;
  margin: -4% 35%; }

.miniatura-columna-diaria {
  background-color: white;
  height: 55px;
  margin-top: 10%;
  margin-bottom: 5%;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #7D7D7D;
  border-left: 1px solid #7D7D7D;
  border-right: 1px solid #7D7D7D;
  border-bottom: 3px solid #BA1414; }

.miniatura-editorial {
  background-color: white;
  height: 55px;
  margin-top: 10%;
  margin-bottom: 5%;
  font-weight: bold;
  text-align: center;
  border: 1px solid #7D7D7D;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px; }

.editorial-columna {
  position: absolute;
  top: 5%; }

.seccion-editorial {
  background-color: #111417;
  position: relative;
  margin-top: 28px; }

.tit-cdr-1 {
  margin: 10px 0; }

.miniatura-editorial dfn {
  font-size: 14px; }

dfn {
  font-style: italic; }

.autor-columna {
  position: absolute;
  top: -8%;
  left: 87%; }

/*# sourceMappingURL=main.css.map */
